.discountSection {
  width: 100%;
  padding: 60px 20px;
}

.contentWrapper {
  max-width: 1440px;
  margin: 0 auto;

  background-color: #0d50ff;
  min-height: 480px;
  border-radius: 12px;
  padding: 40px;
  overflow: hidden;

  background-size: 70%;
  background-repeat: no-repeat;

  background-position: bottom left;

  display: grid;

  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
}

.title {
  grid-column: 1 / 3;
  font-size: 64px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 0px;
}

.form {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  align-self: flex-start;
}

.input {
  width: 90%;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.submitButton {
  width: 100%;
  padding: 15px 20px;
  background-color: white;
  color: #0d50ff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #eee;
}

.message {
  color: #ffcc00;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .contentWrapper {
    grid-template-columns: 1.2fr 1fr;
    background-size: 80%;
    padding: 30px;
    gap: 30px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .input {
    width: 100%;
  }

  .submitButton {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    grid-template-columns: 1fr;
    background-size: 120%;
    background-position: bottom center;
    padding: 20px;
    text-align: center;
  }

  .title {
    grid-column: 1 / 2;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .form {
    grid-column: 1 / 2;
    align-items: center;
    width: 100%;
  }

  .input {
    width: 100%;
    font-size: 15px;
  }

  .submitButton {
    width: 100%;
    font-size: 16px;
  }
}
